.header-menu {
  background-color: #B3093F; 
  padding: 15px 40px;  
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  display: flex; 
  gap: 10px;
}

.header-menu li {
  font-size: 20px;
}

.header-menu a {
  font-family: 'Roboto', sans-serif;
  color: #FFFF; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
  font-weight: 600;
  padding: 12px 24px; /* área cliclável pra ver o fundo*/
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 30px;
}

/* Efeito simples ao passar o mouse */
.header-menu a:hover {
  background-color: #451531 
}